{% extends "base.html" %}

{% block title %}About | {{ site.title }}{% endblock %}
{% block description %}About {{ site.author }}{% endblock %}
{% block og_title %}About | {{ site.title }}{% endblock %}
{% block og_url %}{{ absolute_url_for('about.html') }}{% endblock %}
{% block canonical_url %}{{ absolute_url_for('about.html') }}{% endblock %}

{% block nav_about %}active{% endblock %}

{% block content %}
<article class="about-page">
    <div class="about-content">
        <div class="about-body">
            {# Use include_markdown to render the content from about.md #}
            {{ include_markdown('about.md') | safe }}
        </div>
    </div>
</article>
{% endblock %}